cpio.aux
cpio.cp
cpio.cps
cpio.fl
cpio.fn
cpio.info
cpio.info*
cpio.info-*
cpio.kw
cpio.ky
cpio.log
cpio.mt
cpio.op
cpio.pdf
cpio.pg
cpio.pr
cpio.t2d
cpio.toc
cpio.tp
cpio.vr
genfile.texi
getdate.texi
manual
parse-datetime.texi
rmt.8
stamp-vti
version.texi
